body{
background:#141414;
color:white;
font-family: 'Segoe UI', sans-serif;
}


.custom-navbar{
background:#0f0f0f;
border-bottom:2px solid #E50914;
}

.brand-text{
color:#ffffff;
font-size:28px;
font-weight:700;
}

.nav-hover{
color:#ffffff !important;
transition:0.3s;
}

.nav-hover:hover{
color:#E50914 !important;
}


.hero{
height:60vh;
display:flex;
align-items:center;
background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.8)),
url("https://images.unsplash.com/photo-1512820790803-83ca734da794");
background-size:cover;
}

.hero h1{
font-size:48px;
font-weight:bold;
}

.hero p{
font-size:18px;
color:#ccc;
}

.book-card{
background:#1f1f1f;
padding:15px;
border-radius:10px;
text-align:center;
transition:0.3s;
}

.book-card img{
width:100%;
height:260px;
object-fit:contain;
background:#111;
border-radius:8px;
}

.book-card:hover{
transform:scale(1.05);
}


.footer{
text-align:center;
padding:20px;
background:#000;
color:#aaa;
margin-top:50px;
}

.star{
font-size:28px;
color:#444;
cursor:pointer;
}

.star.active{
color:#f5c518;
}

.btn{
border-radius:8px;
padding:8px 16px;
}

.wishlist-heart{
text-decoration:none;
cursor:pointer;
transition:0.2s;
}

.wishlist-heart:hover{
transform:scale(1.25);
}